# Jekyll 生成文件
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/

# 系统文件
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# git add .
# git commit -m "你的更新说明"
# git push
#git config --global http.proxy 127.0.0.1:7897

#git config --global https.proxy 127.0.0.1:7897